.messagesScreen {
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  .messagesContainer {
    .messageTop {
      position: sticky;
      top: 0;
      background-color: #000000;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 10px 15px;
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
      }
      svg {
        cursor: pointer;
        border-radius: 20px;
        &:hover {
          background: rgba(0, 133, 255, 0.2);
        }
      }
    }
  }
}
