$breakpoint-tablet: 988px;

.emptyMessage {
  max-width: 550px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .emptyMessageCtn {
    text-align: center;
    font-style: normal;
    .top {
      font-weight: 600;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.8);
      padding-bottom: 14px;
    }
    .middle {
      font-weight: 300;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
      padding-bottom: 14px;
    }
    .bottom {
      padding: 10px;
      background: #1a91da;
      border-radius: 20px;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .emptyMessage {
    // display: none;
  }
}
