$breakpoint-mobile: 499px;

.searchScreen {
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  .searchContainer {
    padding: 10px 0;
    .searchTop {
      position: sticky;
      top: 0;
      background-color: #000000;
      z-index: 999;
      .searchForm {
        padding: 0 20px 10px;
        .searchWrap {
          width: 100%;
          height: 40px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 22px;
          display: flex;
          align-items: center;
          padding: 0 20px;
          .inputForm {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            border: none;
            background: none;
            outline: none;
          }
        }
      }
      .blockTabs {
        display: flex;
        align-items: center;

        .tabLeft,
        .tabRight {
          height: 50px;
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          cursor: pointer;
          p {
            font-weight: bold;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.4);
            margin: auto;
          }
          &:hover {
            background: #1a85c76c;
            p {
              color: #1a91da;
            }
          }
        }
        .tabLeft.active,
        .tabRight.active {
          border-bottom: 2px solid #1a85c7;
          p {
            color: #1a91da;
          }
        }
      }
    }

    .tabsContent {
      .content {
        color: rgba(255, 255, 255, 0.4);
        display: none;
      }
      .content.active {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .searchScreen {
    border-left: none;
    border-right: none;
  }
}
