$breakpoint-tablet: 988px;
$breakpoint-mobile: 499px;
$breakpoint-small: 400px;

.message {
  max-width: 550px;
  width: 100%;
  height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .messageCtn {
    display: flex;
    flex-direction: column;
    flex: 1;
    .messageTop {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0 15px;
      height: 51px;

      .back {
        display: none;
      }

      .left {
        max-width: 90px;
        display: flex;
        align-items: center;

        .profile {
          width: 32px;
          height: 32px;
          border-radius: 100px;
          object-fit: cover;
          //margin-right: 15px;
        }
        .groupChat {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          object-fit: cover;
          border: 2px solid rgba(255, 255, 255, 0.9);
        }
      }
      .number {
        .rest {
          font-weight: 300;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.8);
          padding-left: 4px;
        }
      }
      .middle {
        font-style: normal;
        padding-left: 15px;
        .top {
          font-weight: bold;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.9);
        }
        .bottom {
          font-weight: 300;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.4);
          padding-bottom: 1px;
        }
      }
      .right {
        margin: auto 0 auto auto;
        cursor: pointer;
      }
    }

    .messagesWrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      overflow-y: auto;
      .userDescription {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        .userCtn {
          padding: 20px;
          text-align: center;

          .user {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
            .firstName {
              font-weight: bold;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.9);
            }
            .username {
              font-weight: 300;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.4);
              padding-left: 10px;
            }
          }
          .description {
            font-weight: normal;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            padding-bottom: 4px;
          }
          .follows {
            color: rgba(255, 255, 255, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
            .followers,
            .following {
              padding-right: 20px;
              font-size: 14px;
              .numb {
                font-weight: bold;
                color: rgba(255, 255, 255, 0.9);
                padding-right: 3px;
              }
              span {
                font-weight: 300;
                color: rgba(255, 255, 255, 0.3);
                cursor: pointer;
              }
            }
          }
          .join {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 5px;
            .date {
              font-weight: 300;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.4);
              padding-left: 10px;
            }
          }
        }
        &:hover {
          background: rgba(164, 185, 255, 0.05);
        }
      }
      .error {
        font-weight: normal;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        padding: 10px 15px;
      }
      .messagesCtn {
        width: 100%;
        height: 400px;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: #464646;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #707070;
      }
    }

    .typingWrap {
      padding-left: 40px;
      padding-top: 8px;
      .typing {
        width: 50px;
        height: 20px;
        border-radius: 10px;
        object-fit: contain;
      }
    }

    .textInputCtn {
      position: sticky;
      bottom: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 10px 15px 0;

      .textInput {
        display: flex;
        align-items: center;
        .textareaWrap {
          max-width: 500px;
          width: 100%;
          .messageTextarea {
            width: 100%;
            height: 32px;
            height: 100%;
            background: rgba(175, 216, 255, 0.1);
            border-radius: 16px;
            border: none;
            outline: none;
            resize: none;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.8);
            padding: 7px 20px;
            overflow: hidden;
            &:focus {
              background: none;
              border: 1px solid #1a91da;
            }
          }
        }
        .icon {
          padding-left: 15px;
          border: none;
          outline: none;
          background: none;
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .message {
    .messageCtn {
      .messageTop {
        .back {
          display: block;
          cursor: pointer;
          padding-right: 20px;
        }
      }
    }
  }
}
