$breakpoint-mobile: 499px;

.app {
  display: flex;
  // align-items: center;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}

@media screen and (max-width: $breakpoint-mobile) {
  .app {
    display: flex;
    flex-direction: column-reverse;
  }
}
