* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
}
